@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #0C0C0C;
  color: white;
  /* background-image: url("/assets/images/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed; */
  /* background-image: linear-gradient(to bottom, #0d0d0d, #131313); */
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  animation-name: fadeInLeft;
  animation-duration: 1s;
}

@keyframes fadeInLeftFigures {
  from {
    transform: translate3d(-100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftFigures {
  animation-name: fadeInLeftFigures;
  animation-duration: 1s;
}

.fadeInRightFigures {
  animation-name: fadeInRight;
  animation-duration: 1s;
}

@keyframes fadeInRight {
  from {
    transform: translate3d(100%, 0, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRightFigures {
  animation-name: fadeInRight;
  animation-duration: 1s;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
}

@keyframes scrollDown {
  from {
    transform: translate3d(-50%, calc(-50% + 12px), 0);
  }
  to {
    transform: translate3d(-50%, 0, 0);
  }
}

.animate-scroll-down {
  animation: scrollDown 12s linear infinite;
}